<h1 mat-dialog-title>Editar etiquetas</h1>
<div mat-dialog-content>
    <p>{{ audioFile.name }}</p>
    <form [formGroup]="form" (ngSubmit)="onSaveClick()">
        <mat-form-field appearance="fill" class="w-100" color="accent">
            <mat-label>Título</mat-label>
            <input matInput formControlName="title">
            <mat-error *ngIf="form.get('title')?.invalid">
                Completa este campo
            </mat-error>
        </mat-form-field>
        <mat-form-field appearance="fill" class="w-100" color="accent">
            <mat-label>Artista</mat-label>
            <input matInput formControlName="artist">
            <mat-error *ngIf="form.get('artist')?.invalid">
                Completa este campo
            </mat-error>
        </mat-form-field>
        <mat-form-field appearance="fill" class="w-100" color="accent">
            <mat-label>Album</mat-label>
            <input matInput formControlName="album">
        </mat-form-field>
        <div class="mb-3">
            <button type="button" mat-button (click)="readImageFile()">
                <mat-icon>folder_open</mat-icon>
                Seleccionar imagen
            </button>
            <div class="mt-2" *ngIf="cover">
                <img [src]="cover" alt="Cover" style="max-height: 150px;" />
            </div>
        </div>
        <mat-form-field appearance="fill" class="w-100" color="accent">
            <mat-label>Género</mat-label>
            <input matInput formControlName="genre">
        </mat-form-field>
        <mat-form-field appearance="fill" class="w-100" color="accent">
            <mat-label>Año</mat-label>
            <input type="number" [min]="1900" [max]="maxYear" matInput formControlName="year">
            <mat-error *ngIf="form.get('year')?.invalid">
                Ingresa un año válido
            </mat-error>
        </mat-form-field>
    </form>
</div>
<div mat-dialog-actions>
    <button mat-button (click)="onExtractClick()">Extraer desde nombre de archivo</button>
    <button mat-button (click)="onSaveClick()" cdkFocusInitial>Guardar</button>
    <button mat-button (click)="onCancelClick()">Cancelar</button>
</div>