<mat-tab-group color="accent"
        animationDuration="0ms"
        mat-stretch-tabs="false"
        mat-align-tabs="center"
        [(selectedIndex)]="selectedTabIndex">
    <mat-tab label="Búsqueda">
        <app-youtube-search></app-youtube-search>
    </mat-tab>
    <mat-tab>
        <ng-template mat-tab-label>
            <span [matBadge]="(pendingItems$ | async)?.length"
                matBadgeOverlap="false"
                [matBadgeHidden]="(pendingItems$ | async)?.length == 0">Descarga</span>
        </ng-template>
        <app-youtube-downloader></app-youtube-downloader>
    </mat-tab>
</mat-tab-group>