.search-results {
    .mat-mdc-card-avatar {
        width: 74px;
        height: 56px;
        margin-bottom: 0;
        img {
            width: 100%;
        }
    }
    .mat-mdc-card-subtitle {
        margin-top: 0.5rem;
    }
}